{
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true,
    "mocha":   true
  },
  "globals": {
    "chrome": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "semi": [2, "always"],
    "indent": ["error", 2],
    "object-curly-spacing": ["error", "always"],
    "no-extra-parens": "error",
    "max-len": ["error", { "code": 100 }],
    "no-multi-spaces": "error",
    "no-prototype-builtins": 0,
    "no-console": ["error"]
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  }
}
